@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qpvntf');
  src:  url('../fonts/icomoon.eot?qpvntf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qpvntf') format('truetype'),
    url('../fonts/icomoon.woff?qpvntf') format('woff'),
    url('../fonts/icomoon.svg?qpvntf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-equalizer:before {
  content: "\e993";
}
.icon-menu:before {
  content: "\e995";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-pause:before {
  content: "\ea1d";
}
.icon-stop:before {
  content: "\ea1e";
}
.icon-prec:before {
  content: "\ea21";
}
.icon-suiv:before {
  content: "\ea22";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-medium:before {
  content: "\ea27";
}
.icon-volume-low:before {
  content: "\ea28";
}
.icon-volume-mute:before {
  content: "\ea29";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-repeat:before {
  content: "\ea2d";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
